In [ ]:
from pprint import pprint

from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd

# Define endpoint
endpoint_url = "https://dbpedia.org/sparql"

# Define a function to query and return a DataFrame
def run_query(query, endpoint=endpoint_url):
    sparql = SPARQLWrapper(endpoint)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()

    cols = results["head"]["vars"] # type: ignore
    pprint(cols)
    data = []
    for result in results["results"]["bindings"]: # type: ignore
        row = [result.get(col, {}).get("value", None) for col in cols] # type: ignore
        data.append(row)

    return pd.DataFrame(data, columns=cols) # type: ignore


# https://dbpedia.org/page/Italy

In [17]:
query_triple_count = """
SELECT (COUNT(*) AS ?tripleCount)
WHERE {
  ?s ?p ?o .
}
"""

df = run_query(query_triple_count)
print("Total number of triples:")
df

['tripleCount']
Total number of triples:

  tripleCount
0  1153051691

In [58]:
query_triple_count = """

PREFIX schema: <http://schema.org/> 

PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
PREFIX owl: <http://www.w3.org/2002/07/owl#> 
PREFIX dc: <http://purl.org/dc/elements/1.1/> 

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>

SELECT *
WHERE {
  dbr:Italy rdf:type schema:Country .
}
"""

df = run_query(query_triple_count)
print(df)

# https://dbpedia.org/page/Italy

['_star_fake']
  _star_fake
0          1

In [71]:
# check available thematic data
query_triple_count = """
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
PREFIX owl: <http://www.w3.org/2002/07/owl#> 
PREFIX dc: <http://purl.org/dc/elements/1.1/> 

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>



SELECT ?s ?p ?o
WHERE {
    dbr:Italy dbo:wikiPageWikiLink ?o .
}
LIMIT 100
"""

df = run_query(query_triple_count)
print(df)

['s', 'p', 'o']
       s     p                                                  o
0   None  None                http://dbpedia.org/resource/Cabiria
1   None  None               http://dbpedia.org/resource/Calabria
2   None  None      http://dbpedia.org/resource/Calcio_Fiorentino
3   None  None  http://dbpedia.org/resource/Camillo_Benso,_Cou...
4   None  None          http://dbpedia.org/resource/Camillo_Golgi
..   ...   ...                                                ...
95  None  None          http://dbpedia.org/resource/Schengen_Area
96  None  None      http://dbpedia.org/resource/Scientific_method
97  None  None       http://dbpedia.org/resource/Electric_battery
98  None  None  http://dbpedia.org/resource/Electricity_sector...
99  None  None               http://dbpedia.org/resource/Endemism

[100 rows x 3 columns]